{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "react-app",
    "react-app/jest"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "error",
      "tab"
    ],
    "no-trailing-spaces": "error",
    "no-console": "off",
    "object-curly-spacing": [
      "error",
      "always",
      {
        "arraysInObjects": false,
        "objectsInObjects": false
      }
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "comma-dangle": ["error", "never"],
    "no-unused-vars": ["error", {
      "vars": "local"
    }],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "eol-last": ["error", "always"],
    "no-multiple-empty-lines": ["error", {
      "max": 2,
      "maxEOF": 0
    }],
    "space-infix-ops": [
      "error",
      {
        "int32Hint": false
      }
    ]
  }
}